* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    
}

#container {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

:root {
    --swiper-theme-color: #ffffff;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section_1 .swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper {
    margin: 0 !important;
}

.section_2 {
    padding: 2rem 3rem;
    padding-top: 4rem;

}

.form {
    width: 100%;
}

.login_link {
    text-decoration: none;
    color: black !important;
    position: relative;
    top: 66px;
    left: 400px;
}
.google_facebook{
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-content: space-around;
    align-items: center;
    gap: 2rem;
}