* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
}

.sideMenu {
    padding: 1.5rem;
    height: 100vh;
    background-color: #ffffff;
    border-right: 2px solid rgba(0, 0, 0, 0.243);
    position: relative;

}

.list {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    max-width: 10rem;
}

.list:hover {
    cursor: hand;
}

.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.trim {
    color: rgba(0, 0, 0, 0.427);
}

.chart {
    width: 17rem;
}

.pie_chart {
    background-color: white;
    width: 300px;
    height: 300px;
    padding: 1rem;
    border-radius: 3rem;

}

.container {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.total_orders {
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 2rem 3rem;
    border-radius: 3rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.fave {
    position: absolute;
    top: 25px;
    left: 39px
}

.profile {
    position: absolute;
    bottom: 20px;
    left: 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    padding: 4px 1rem;
    border-radius: 20px;
}

.food {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

.ccc {
    width: 25%;
    display: flex;
    text-align: center;


}